header{
    background-color: blue;
    color: rgb(43, 226, 95);
    font-family: 'Courier New', Courier, monospace;
}
section{
    background-color: brown;
    
}
 ul{
    background-color: aqua;
}
li{
    margin-left: 4px;

}
body{
    background-color: antiquewhite;
}